
    h1 {
      color: tomato;
    }

    body {
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

    .chatbar {
      background: #3BFF66;
      border-top: 1px solid black;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

    .chatbar-message,
    .chatbar-username {
      border: 1px solid black;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;

    }

    .chatbar-username {
      flex: 4;
      padding: 0 9px;
    }

    .chatbar-message {
      flex: 8;
      display: flex;
    }

    .chatbar-input {

      padding: 0 9px;
      flex-grow: 1;
    }

    .message {
      display: flex;
      padding: 5px;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }

    .message-content {
      flex: 8;
    }

    .message-username {
      flex: 2;
      font-weight: 700;
      width: 100px;
    }

    .navbar {
      background: #3BFF66;
      border-bottom: 1px solid black;
      height: 60px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
      box-shadow: 10px 10px 5px #888888;
    }

    .navbar-brand {
      font-family: 'Kaushan Script', cursive;
      color: orange;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 36px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }

    #chat {
      height: 60px;
      width: 60px;
      float: left;
    }